EMAIL_USER=YOUR_EMAIL@example.com
EMAIL_PASSWORD=YOUR_PASSWORD
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SENDER_NAME=YOUR_NAME
SENDER_PHONE=YOUR_PHONE
LINKEDIN_URL=https://www.linkedin.com/in/YOUR_PROFILE/

MAPS_API_KEY=YOUR_API_KEY
GEMINI_API_KEY=YOUR_API_KEY

BUSINESS_TYPE=YOUR_BUSINESS_TYPE
COUNTRY=YOUR_COUNTRY
SEARCH_QUERY={business_type} in {city}, {country}
ATTACHMENTS=YOUR_CV_1.pdf,YOUR_CV_2.pdf
TRASH_EMAIL_PATTERNS=
